/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: black;
  margin-top: 3.75rem;
}

.home--section {
  display: flex;
  flex-direction: column;
}

.search--section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
}

.input {
  position: relative;
}

.search--input {
  padding: 10px 20px 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: white;
  /* width: 300px; */
}

.search--input::placeholder {
  color: #999;
}

#btn {
  padding: 10px 20px 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  margin-left: 10px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}

.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  max-width: 200px;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

.movie-details {
  padding: 5px;
}

.movie-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.movie--detail {
  display: flex;
  margin: 0 10%;
  color: white;
  gap: 20px;
  align-items: center;
}

.movie--details--button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: yellow;
  border: none;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.button--container{
  display: flex;
  gap: 4px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: yellow;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.top--left{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 2rem;
}

.top--left > select{
  border: none;
  border-radius: 3px;
  padding: 8px;
  background: rgba(128, 128, 128, 0.203);
}
.top h4 {
  font-size: 28px;
  font-weight: bold;
}

.top-link {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
}

.top-link:hover {
  border-color: #f39c12;
}

/* page details */
.detail-page--container {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background: #000;
}

.detail-page--container img {
  min-height: 600px;
  border-radius: 5px;

}

.detail-page--details {
  display: flex;
  flex-direction: column;
}

.detail-page--details h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.detail-page--details p {
  margin-bottom: 10px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: rgba(245, 245, 245, 0.7);
}

.detail-page--details button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: yellow;
  max-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.detail-page--details button:hover {
  background-color: #0069d9;
}

.watchlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.watchlist--section {
  margin-top: 0;
}

.my--movies{
  margin-left: 10px;
  color: whitesmoke;
}


.empty--list {
  font-size: 1rem;
  color: white;
}

.empty--link {
  color: yellow;
}

.empty--link:hover {
  color: orange;
}

@media (max-width: 700px) {
  .detail-page--container {
    display: flex;
    flex-direction: column;
  }

  .movie--detail {
    display: flex;
    flex-direction: column;
  }

  .movie--detail img {
    min-width: 100%;
  }

  .detail-page--details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .detail-page--details h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .detail-page--details p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: rgba(245, 245, 245, 0.7);
  }

  .detail-page--details button {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .top--left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
   }
   
   .top--left > select{
     border: none;
     border-radius: 3px;
     padding: 8px 1px;
     background: rgba(128, 128, 128, 0.203);
   }
}

@media (min-width: 400px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    max-width: 200px;
  }
  .top--left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
   }
  
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    max-width: 200px;
  }
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    max-width: 200px;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
